apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: oscar-ui
spec:
  template:
    metadata:
      labels:
        app: oscar-ui
    spec:
      containers:
        - name: oscar-ui
          image: grycap/oscar-ui
          env : 
            - name: VUE_APP_BACKEND_HOST 
              value: "{{vue_app_backend_host}}"
---  
apiVersion: v1
kind: Service
metadata:  
  labels:
    app: oscar-ui
  name: oscar-ui
spec:  
  ports:  
  - nodePort: 31114
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: oscar-ui  
  type: NodePort
status:
  loadBalancer: {}
